html, body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    overflow: auto;
}

body{
	background-image: url("img/balloons-1012541.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

@font-face {
    font-family: 'Geraldine'; /*a name to be used later*/
    src: url('geraldine-font/GeraldinePersonalUseItalic-PK12m.ttf'); /*URL to font*/
}

#logo-icon img{
	top: 0;
	left: 0;
	width: 150px;
}
.slide{
 position: relative;

/*   padding-bottom: 15px;
*/   width: auto;
height: auto;
overflow-x: scroll;
overflow-y: hidden;

white-space: nowrap;
z-index:1000;
}

.menu{
    width: 100%;
    float: left;
    list-style: none;
    text-align: center;

}

.menu li {
    letter-spacing: 3px;
    top: 0px;
    display: inline-block; 
    margin-right: 5%;

}


#home{

 font-size: 40px;
 color: black;
 font-family: 'Geraldine';

}
#g{
    color: black;
}

#p{
    color:black;
}

#o{
    color: black;
}

#g, #p, #o{
    font: 20px;

}
.menu a  {
    color: hotpink;
}

a:hover{
    text-decoration: none!important;

}
.container{
  margin-top: 2%;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  border-radius: 10px;

}


.slide img{
    border-radius: 5px;
}

/*.content{
  background-color: black;
  }*/

  footer, h1{
   text-align: center;
   color: white;

}

h1{
	font-family: 'Geraldine'!important;
	font-size: 60%;
}

@media only screen 
and  (max-width : 600px) {
  /* Styles */
  body,html{
    height: 100%;
}
.menu{
    width: 100!important;
    padding-left: 0!important;

}
#home{
    font-size: 20px;
}
#g, #p, #o{
    font-size: 12px;
}
#logo-icon img{
    width: 60px;
    position: relative;
    float: left;
}
.slide img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
.slide{
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 118px;
    padding-right: 0!important;
}
.header{
    position: fixed;
    z-index:9999;
    margin-top: 0!important;
    background-color: rgba(255,255,255,0.5);;
    width: 91%;
/*    margin-right: 5%!important;
*/    border-radius: 4px;
height: 118px;
width: 100%;
}


.container{
    margin-top: 0;
    margin-right: 0!important;
    padding: 0!important;
    margin-left: 0!important;
}
}