html, body{
	width: 100%;
	box-sizing: border-box;
	margin: 0;
    overflow: auto;
}

body{
	background-image: url("img/balloons-1012541.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
}

@font-face {
    font-family: 'Geraldine'; /*a name to be used later*/
    src: url('geraldine-font/GeraldinePersonalUseItalic-PK12m.ttf'); /*URL to font*/
}

#logo-icon img{
	top: 0;
	left: 0;
	width: 150px;
}
.slide{
   position: relative;

   padding: 15px;
   padding-bottom: 0px;
   width: auto;
   height: auto;
   overflow-x: scroll;
   overflow-y: hidden;

   white-space: nowrap;
   z-index:1000;
   margin-bottom: 1%;
   margin-top: 10%;
}

.menu{
    width: 100%;
    float: left;
    list-style: none;
    padding-top: 4%;
    text-align: center;

}

.menu li {
    letter-spacing: 3px;
    top: 0px;
    display: inline-block; 
    margin-right: 5%;

}


#home{

   font-size: 40px;
   color: black;
       font-family: 'Geraldine';

}
#g{
color: black;
}

#p{
color:black;
}

#o{
color: black;
}

#g, #p, #o{
        font: 20px;

}
.menu a  {
    color: hotpink;
}

a:hover{
        text-decoration: none!important;

}
.container{
  margin-top: 2%;
  background-color: rgba(255,255,255,0.6);
  width: 100%;
  border-radius: 10px;
}


.slide img{
    border-radius: 5px;
}

/*.content{
  background-color: black;
}*/

footer, h1{
	text-align: center;
   color: black;

}

h1{
	font-family: 'Geraldine'!important;
	font-size: 60%;
}

@media only screen 
and  (max-width : 1200px) {
  /* Styles */
  .menu{
    width: 100!important%;
  }
  #home{
    font-size: 20px;
  }
  #logo-icon img{
    width: 60px;
  }
  .slide img{
    width: 100%;
    display: block;
    margin-bottom: 1%;
  }
  .slide{
    margin-top: 40%;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .header{
    position: fixed;
    z-index:9999;
    margin-top: 0!important;
    background-color: rgba(255,255,255,0.8);;
    width: 91%;
    margin-right: 5%!important;
    border-radius: 4px;
  }
.container{
    margin-top: 0;
}
}